/* properties for vboxMain */
.vboxMain {
    /* sets padding */
    /*-fx-padding: 15; */
    /* sets spacing */
    /*-fx-spacing: 200; */
    /* sets background color */
    -fx-background-color:  #6a5acd;  
}

/* properties for appTitle */
.appTitle {
    -fx-font-family: "impact";
    -fx-font-size: 30px;
    -fx-text-fill: #87ceeb;
}

/* properties for calendarPane */
.calendarPane {
    -fx-hgap: 20;
    -fx-vgap: 20;
}

/* properties for currentMonthYearLabel */
.currentMonthYearLabel {
    -fx-font-family: "cambria";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* properties for habitCreationButton */
.habitCreationButton {
    -fx-background-color: #ff7f50;
    -fx-font-size: 22px;
}

/* properties for vbox */
.vbox {
    /* sets background color */
    -fx-background-color: #4169e1;
}

/* properties for vboxLabel */
.vboxLabel {
    /* sets background color */
    -fx-alignment: TOP_RIGHT;
}

/* style specification for secondaryWindow */
.secondaryWindow {
    /* sets padding */
    -fx-padding: 15;  
    /* sets background color */
    -fx-background-color: #778899;
    /* sets font */
    -fx-font-family: "cambria";
    /* sets font size */
    -fx-font-size: 16px;
    /* sets font weight */
    -fx-font-weight: bold;
}

/* style specification for habitCreationButtonHboxes */
.habitCreationButtonHboxes {
    /* sets padding */
    -fx-padding: 21;
    /* sets font size */
    -fx-font-size: 13;
}

/* style specification for optionsButtonHboxes */
.optionsButtonHboxes {
     /* sets padding */
    -fx-padding: 15;
    /* sets font size */
    -fx-font-size: 13;
}

/* style specification for progressButtonHboxes */
.progressButtonHboxes {
    /* sets padding */
    -fx-padding: 15;
    /* sets font size */
    -fx-font-size: 13;
}

/* style specification for options */
.options {
    /* sets padding */
    -fx-padding: 15;
    /* sets font size */
    -fx-font-size: 13;
}

/* style specification for dayOfWeekLabels */
.dayOfWeekLabels {
    -fx-font-family: "cambria";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
    
/* style specification for habitCreationButtonHbox8 */
.habitCreationButtonHbox8 {
    /* sets padding */
    -fx-padding: 15;
    /* sets font size */
    -fx-font-size: 13;
    /* sets spacing */
    -fx-spacing: 15;
     /* sets font weight */
    -fx-font-weight: normal;
}

/* style specification for vboxCalendar */
.vboxCalendar {
    /* sets background color */
    -fx-background-color: #d3d3d3;
    -fx-font-family: "cambria";
    -fx-font-weight: bold;
}

/* style specification for buttons */
.button1 {
    /* sets background color */
    -fx-background-color: #d3d3d3;
    /* sets dropshadow effect */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    /* sets font */
    -fx-font-family: "cambria";
    -fx-font-size: 12px;
}

/* style specification for buttons */
.button2 {
    /* sets background color */
    -fx-background-color: #d3d3d3;
    /* sets dropshadow effect */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    /* sets font */
    -fx-font-family: "cambria";
    -fx-font-size: 9px;
}

/* properties when button is pressed */
.button:pressed {
    /* sets background color */
    -fx-background-color: #00ff7f;
}

/* properties when hovering over button */
.button:hover {
    /* sets background color */
    -fx-background-color: #00ff7f;
}


