/* properties for vboxMain */
.vboxMain {
    /* sets padding */
    /*-fx-padding: 15; */
    /* sets spacing */
    /*-fx-spacing: 200; */
    /* sets background color */
    -fx-background-color:  #6a5acd;  
}

/* properties for appTitle */
.appTitle {
    -fx-font-family: "impact";
    -fx-font-size: 30px;
    -fx-text-fill: #87ceeb;
}

.calendarPane {
    -fx-hgap: 20;
    -fx-vgap: 20;
}

/* properties for currentMonthYearLabel */
.currentMonthYearLabel {
    -fx-font-family: "cambria";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.habitCreationButton {
    -fx-background-color: #ff7f50;
}

/* properties for vbox */
.vbox {
    /* sets background color */
    -fx-background-color: #4169e1;
}

/* properties for vbox */
.vboxLabel {
    /* sets background color */
    -fx-alignment: TOP_RIGHT;
}

.secondaryWindow {
    /* sets padding */
    -fx-padding: 15;  
    /* sets background color */
    -fx-background-color: #778899;
    /* sets font */
    -fx-font-family: "cambria";
    /* sets font size */
    -fx-font-size: 16px;
    /* sets font weight */
    -fx-font-weight: bold;
}

.options {
    /* sets padding */
    -fx-padding: 15;
    /* sets font size */
    -fx-font-size: 13;
}

.dayOfWeekLabels {
    -fx-font-family: "cambria";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
    

.hbox8 {
    /* sets padding */
    -fx-padding: 15;
    /* sets font size */
    -fx-font-size: 13;
    /* sets spacing */
    -fx-spacing: 15;
     /* sets font weight */
    -fx-font-weight: normal;
}

.vboxCalendar {
    /* sets background color */
    -fx-background-color: #d3d3d3;
    -fx-font-family: "cambria";
    -fx-font-weight: bold;
}

/* style specification for buttons */
.button {
    /* sets background color */
    -fx-background-color: #d3d3d3;
    /* sets dropshadow effect */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
    /* sets font */
    -fx-font-family: "cambria";
    /* -fx-hgrow: PriorityALWAYS; */
}

/* properties when button is pressed */
.button:pressed {
    /* sets background color */
    -fx-background-color: #00ff7f;
}

/* properties when hovering over button */
.button:hover {
    /* sets background color */
    -fx-background-color: #00ff7f;
}


